body {
    left: 0;
    top: 0;
}

h1 {
    width: 20vw;
    display: inline;
}

#sidebar {
    height: 95vh;
    width: 20vw;
    
    margin: 1rem;
    margin-right: 0;
    
    padding: 2rem;
    
    background-color: lightgrey;
    
    display: inline-block;
}

nav {
    padding: 0;
    margin: 0;
}
    
#board {
    top: 0;
    
    display: inline-block;  
    
    width: 75vw;
    height: 90vh;
    
    margin: 1rem;
    margin-left: 5px;
    padding: 2rem;
    
    background-color: none; 
}

#toolbox {
    width: 45vw;
    align-items: flex-end;
    text-align: right;
    padding-top: 1em;
}